/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full height and flex centering */
html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
  background-color: #fff;
}

.container {
  position: relative;
  width: 100%;
  padding: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 2rem;
  border: 2px solid #2c3e50;
}

/* The moving block animation */
.moving-block {
  position: absolute;
  width: 100px;
  height: 100px;
  animation: moveAround 8s infinite ease-in-out;
  border-radius: 10px;
}

img {
  width: 100%;
  border-radius: 10px;
  border: 2px solid #2c3e50;
}

/* Animation to move the image across four corners */
@keyframes moveAround {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: calc(100% - 100px); /* Move to top right */
  }
  50% {
    top: calc(100% - 100px); /* Move to bottom right */
    left: calc(100% - 100px);
  }
  75% {
    top: calc(100% - 100px); /* Move to bottom left */
    left: 0;
  }
  100% {
    top: 0; /* Return to top left */
    left: 0;
  }
}

/* Coming soon content */
.coming-soon-content {
  position: relative;
  text-align: center;
  z-index: 1;
}

h1 {
  font-size: 3rem;
  color: #2c3e50;
}

p {
  font-size: 1.5rem;
  color: #7f8c8d;
  margin-top: 10px;
}

strong {
  color: #2c3e50;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}
